{% extends 'base.html.twig' %}

{% block body %}

    <nav>
        <div class="nav_sub__container nav-wrapper nav">
            <section class="nav_elements__container">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a href="#" class="logo_img__container"><img class="logo__img" src="{{ asset('build/images/logo.svg') }}" alt="AML"></a>
            </section>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">¿Quiénes somos?</a></li>
                <li><a href="#">Métodos de pago</a></li>
                <li><a href="#">¿Cómo trabajamos?</a></li>
                <li><a href="#">Mayorista</a></li>
                <li><a href="#">Envíos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </nav>

    <header class="header__container">
      <section class="search_input__container">
        <i class="material-icons">search</i>
        <input type="text" id="search__input" placeholder="Buscá con palabras clave">
      </section>
      <div class="col s12 breadcrumb__container">
        <a href="#!" class="breadcrumb">Acero Quirurgico</a>
        <a href="#!" class="breadcrumb">Cadenas</a>
      </div>
    </header>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">¿Quiénes somos?</a></li>
        <li><a href="#">Métodos de pago</a></li>
        <li><a href="#">¿Cómo trabajamos?</a></li>
        <li><a href="#">Mayorista</a></li>
        <li><a href="#">Envíos</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>

    <main>
        <section class="product_detail__container">
            <img class="product_detail__img" src="{{ asset('build/images/ring.jpg') }}" alt="Anillo">
            <section class="product_info__container">
                <h4 class="product__name"> {{ producto.nombre }} </h4>
                <p class="product__description"> {{ producto.descripcion }} </p>
                <h4 class="product__price"> ${{ producto.precio }} </h4>
            </section>
        </section>
    </main>
    {% block page_contents %}{% endblock %}
{% endblock %}