{% extends 'base.html.twig' %}

{% block body %}
    
    <nav class="navbar__container">
        <section class="logo__container">
            <img class="logo__img" src="{{ asset('build/images/logo.svg') }}" alt="AML">
        </section>
        <section class="list__container">
            <ul class="list">
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Métodos de pago</a></li>
                <li><a href="#">Cómo trabajamos</a></li>
                <li><a href="#">Mayorista</a></li>
                <li><a href="#">Envíos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </section>
    </nav>

    <header class="">
        <h1 class="">Productos</h1>
    </header>

    <main class="">
        <section class="">
            {% for producto in productos %}
                <section class="">
                    <img class="product__img" src="{{ asset('build/images/ring.jpg') }}" alt="Anillo">
                    <section>
                        <h4 class=""> {{ producto.nombre }} </h4>
                        <p class=""> {{ producto.descripcion }} </p>
                        <h4 class=""> ${{ producto.precio }} </h4>
                        <a href="{{ path('detalleProducto', {'id': producto.id }) }}" class="self-end">Más información</a>
                    </section>
                </section>
            {% endfor %}
        </section>
    </main>
    {% block page_contents %}{% endblock %}
{% endblock %}