{% extends 'base.html.twig' %}

{% block body %}
    <main class="flex justify-center">
        <section class="flex flex-col bg-indigo-400 w-56 p-2.5 rounded-2xl">
            <img class="w-48 h-auto rounded-2xl" src="{{ asset('build/images/ring.jpg') }}" alt="Anillo">
            <section>
                <h4 class="text-xl font product_title_font"> {{ producto.nombre }} </h4>
                <p class="font product_info_font"> {{ producto.descripcion }} </p>
                <h4 class="font product_info_font text-right"> ${{ producto.precio }} </h4>
                <a href="{{ path('producto', {'id': producto.id }) }}" class="self-end">Más información</a>
            </section>
        </section>
    </main>
    {% block page_contents %}{% endblock %}
{% endblock %}